%h1 Темы
%br/
%table.zebra-striped
  - base = 0
  - @wthemes.each do |wtheme|
    - if wtheme.course_id != base
      - base = wtheme.course_id
      %tr
        %td
          \&nbsp;&nbsp;
          %b= Wcourse.find(wtheme.course_id).name
    %tr
      %td
        = link_to wtheme.name, edit_wtheme_path(wtheme)
      %td &nbsp;&nbsp;&nbsp;
      %td
        = link_to "Слова", "/words/#{wtheme.id}", :class => 'btn success'
      %td &nbsp;&nbsp;&nbsp;
      %td
        = link_to "Удалить", wtheme_path(wtheme), :class=> "btn danger", :method => :delete, :confirm => "Вы уверенны?"
%br/
= link_to "Создать", new_wtheme_path, :class => 'btn primary'
= link_to "Главная", "/", :class => 'btn success'
