%h1= Wtheme.find(params[:id]).name
%br/
%table.zebra-striped
  %tbody
    - @wwords.each do |wword|
      %tr
        %td
          = link_to wword.word, edit_wword_path(wword)
        %td
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %td
          = link_to wword.translate, edit_wword_path(wword)
        %td
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %td
          = link_to "Удалить", wword_path(wword), :class=> "btn danger", :method => :delete, :confirm => "Вы уверенны?"
%br/
= link_to "Добавить", "/wwords/new?course=#{Wtheme.find(params[:id]).course_id}&theme=#{params[:id]}", :class => 'btn primary' 
= link_to "Категории", "/wwords", :class => 'btn success'
= link_to "Главная", "/", :class => 'btn success'
